.accreditationContainer{
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    background: linear-gradient(white,black);
}

.accreditationEntry{
    box-shadow: 0px 10px 30px black;
    overflow: hidden;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
}

.accreditationEntry img{
    margin-top: 40px;
}


.accreditationEntry h1{
    color: darkblue;
    font-size: 20px;
    margin-top: 20px;
    text-align: center
}

.accreditationEntry p{
    margin-bottom: 40px;
    text-align: center;
     
}

#objective{
    margin-top: 20px;
}