.navBar{
    margin-top: 1%;
    width: 100%;
    height:100%;
    margin-bottom: 15px;
    overflow:hidden;
}

.logo{
    text-align: center;
}

.navButton{
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(black, grey);
    border: 2px solid grey;
    color: white;     
    text-align: center;    
}

.navButton:hover{
    background: linear-gradient(blue, black); 
}

#selectedBtn{
    background: linear-gradient(blue, black); 
}